.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile {
  max-width: 26em;
  box-shadow: blue;
}

.my-details {
  position:relative;
  background-color: rgba(255, 255, 255, 0.747);
}
